<h2>Types of Business:</h2>
<h4>Solo Trader:</h4>
<p>Solo Traders are in complete control of your business. The profits are entirely yours, but so are all the responsibilities and liabilities &#45; including any debts your business incurs. Becoming a sole trader doesn&#39;t require any legal paperwork, which is why many businesses in New Zealand start off as sole traders.
</p>
<p>If you&#39;e carrying on business as a sole trader you should return your business income under your personal IRD number.
</p>
<h4>Partnership</h4>
<p>If you&#39;re in a partnership you&#39;ve chosen to pool your assets with others into one business, with the profits and losses of the business divided between you. These types of businesses are established with partnership agreements, which set out in writing the division of profits and losses.</p>
<p>Partnerships must have their own IRD number.</p>
<h4>Companies</h4>
<p>A company is a business that is a legal entity in its own right, separate from its shareholders. This is important because the company owns all its assets and liabilities, which means your responsibilities for any debts are generally limited to the amount you&#39;ve invested as share capital in the business.</p>
<p>If your business will be run through a company, you need to get an IRD number for it. However, rather than going through Inland Revenue, you can do this through the Companies Office when you register your company for incorporation.
</p>
<h2>Business taxes</h2>
<p>If you&#39;re a sole trader, or carry on business in partnership with others, you will pay income tax on your profits. But if you start a company, its profits will be taxed separately at the company tax rate. You also pay income tax at individual tax rates on dividends received from the company, but you can claim a tax credit for any company tax already paid.
However, your company may also have other tax obligations for GST, for example, or FBT, if you offer your employees fringe benefits.
</p>
<h2>Licences, consents and permits</h2>
<p>It&#39;s not just Inland Revenue or the Companies Office you might have to work with. Regional councils and other bodies may also play a part in the setting up of your business. If you plan to work from home, for example, or you want to open a café or bakery, you have to apply for a licence first with your regional council. Your local council also regulates health and safety standards for all businesses and building permits, so it&#39;s worth making contact before you start your business.
</p>
<h2>Online Resources:</h2>
<h4>ONECheck</h4>
<p>ONECheck is an online search tool that combines a company name, domain and trade mark search all in one place. It is designed for people who are looking at starting a new business, renaming their current business or just wanting to check their existing business name is secure. ONECheck packages all the relevant information in one place.
</p>
<p><a href='//www.business.govt.nz/onecheck'>www.business.govt.nz/onecheck</a></p>
<h4>The Companies Office</h4>
<p>As soon as a business name is reserved on the companies register, it is impossible for others to reserve the same or a similar name within the next 20 days. That name protection becomes permanent once the company is registered. This protection only stops other companies being registered in New Zealand under the same name and should not be confused with the intellectual property protection offered by a patent, trade mark or copyright.</p>
<p><a href='//www.business.govt.nz/companies'>www.business.govt.nz/companies</a></p>
<h4>IPONZ (The Intellectual Property Office of New Zealand)</h4>
<p>IPONZ is the organisation where patents and trade marks on original commercial assets &#45; including business names &#45; are registered. Use the office&#39;s database to make sure your preferred business name isn&#39;t already being used as a commercial asset and, if you already have a logo designed, register the unique combination of words and images that make up your brand as a trade mark so others cannot copy it.</p>
<p>Unlike companies, sole traders and partnerships don&#39;t have any protection over their business names. However, they can apply for a trade mark from IPONZ for their brand or logo to give them exclusive rights to use it in a unique way.</p>
<p><a href='//www.iponz.govt.nz/'>www.iponz.govt.nz/</a></p>
<h4>Further assistance</h4>
<p>If you&#39;re unsure about what you have to do when setting up a business for the first time, consult your lawyer and accountant. There is also a wide range of public resources that can offer further information and assistance.
</p>