<h2>Types of Business:</h2>
<h4>Solo Trader:</h4>
<p>Solo Traders are in complete control of your business. The profits are entirely yours, but so are all the responsibilities and liabilities &#45; including any debts your business incurs. Becoming a sole trader doesn&#39;t require any legal paperwork, which is why many businesses in New Zealand start off as sole traders.
</p>
<h4>Partnership</h4>
<p>If you&#39;re in a partnership you&#39;ve chosen to pool your assets with others into one business, with the profits and losses of the business divided between you. These types of businesses are established with partnership agreements, which set out in writing the division of profits and losses.</p>
<h4>Companies</h4>
<p>A company is a business that is a legal entity in its own right, separate from its shareholders. This is important because the company owns all its assets and liabilities, which means your responsibilities for any debts are generally limited to the amount you&#39;ve invested as share capital in the business.</p>
<h2>Online Resources:</h2>
<h4>ONECheck</h4>
<p>ONECheck is an online search tool that combines a company name, domain and trade mark search all in one place. It is designed for people who are looking at starting a new business, renaming their current business or just wanting to check their existing business name is secure. ONECheck packages all the relevant information in one place.
</p>
<h4>The Companies Office</h4>
<p>As soon as a business name is reserved on the companies register, it is impossible for others to reserve the same or a similar name within the next 20 days. That name protection becomes permanent once the company is registered. This protection only stops other companies being registered in New Zealand under the same name and should not be confused with the intellectual property protection offered by a patent, trade mark or copyright.</p>