<h2>Lean Canvas | <span class=sub>The simple business plan</span></h2>
<table border=1>
    <tr>
        <td rowspan=2>
            <h4>Problem</h4>
            <p ng-repeat="problem in problems">
                {{problem.text}}
            </p>
            <input><button>+</button>
        </td>
        <td>
            <h4>Solution</h4>
            <textarea></textarea>
        </td>
        <td rowspan=2 colspan=2>
            <h4>Unique Value Proposition</h4>
        </td>        
        <td>
            <h4>Unfair Advantage</h4>
        </td>
        <td rowspan=2>
            <h4>Customer Segments</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Key Metrics</h4>
            <textarea></textarea>
        </td>
        <td>
            <h4>Channels</h4>
        </td>
    </tr>
    <tr>
        <td colspan=3>
            <h4>Cost Structure</h4>
        </td>
        <td colspan=3>
            <h4>Revenue Streams</h4>
        </td>
    </tr>
</table>