<h2>Lean Canvas | <span class=sub>The simple business plan</span></h2>
<p>My end user is <span ng-model='user'></span><input ng-model='user'><button>✓</button></p>
<table border=1>
    <tr>
        <td rowspan=2>
            <h4>Problem</h4>
            <ul>
            <li ng-repeat="problem in problems">
                {{problem.text}} <sup><a href='#' ng-click='problems.pop(problem)'>x</a></sup>
            </li>
                <li>{{p.text}}</li>
            </ul>
            <input ng-model="p.text"><button ng-click="pushProblem()">+</button>
        </td>
        <td>
            <h4>Solution</h4>
            <ul>
            <li ng-repeat="solution in solutions">
                {{solution.text}} <sup><a href='#' ng-click='solutions.pop(solution)'>x</a></sup>
            </li>
                <li>{{s.text}}</li>
            </ul>
            <input ng-model="s.text"><button ng-click="pushProblem()">+</button>
        </td>
        <td rowspan=2 colspan=2>
            <h4>Unique Value Proposition</h4>
        </td>        
        <td>
            <h4>Unfair Advantage</h4>
        </td>
        <td rowspan=2>
            <h4>Customer Segments</h4>
        </td>
    </tr>
    <tr>
        <td>
            <h4>Key Metrics</h4>
        </td>
        <td>
            <h4>Channels</h4>
        </td>
    </tr>
    <tr>
        <td colspan=3>
            <h4>Cost Structure</h4>
        </td>
        <td colspan=3>
            <h4>Revenue Streams</h4>
        </td>
    </tr>
</table>