<h3>Pricing</h3>
<p>Satus is available in a range of plans depending on your needs.</p>
<table>
    <tr>
        <th></th>
        <th>Free</th>
        <th>$5/Month</th>
        <th>$10/Month</th>
        <th>$15/Month</th>
    </tr>
    <tr>
        <th>Users</th>
        <td>Up to 2</td>
        <td>Up to 10</td>
        <td>Up to 20</td>
        <td>Unlimited</td>
    </tr>
    <tr>
        <th><a href>Slack</a> Integration</th>
        <td class=no>No</td>
        <td class=no>No</td>
        <td class=yes>Yes</td>
        <td class=yes>Yes</td>
    </tr>
    <tr>
        <th>Ads</th>
        <td class=no>Yes</td>
        <td class=yes>No</td>
        <td class=yes>No</td>
        <td class=yes>No</td>
    </tr>

</table>